h1{
    font-family: Arial, Helvetica, sans-serif;
}

#img1{
    
    width: 300px;
    height: 300px;
    margin:20px;
}

#img2{

    margin: 20px;
    width: 300px;
    height: 300px;

}
#img3{
    width: 300px;
    height: 300px;
    margin: 20px;
}

#img4{
    width: 300px;
    height: 300px;
    margin: 20px;

}

#img5{
    width: 300px;
    height: 300px;
    margin: 20px;

}

#img6
{
    width: 300px;
    height: 300px;
    margin: 20px;

}
#img7{
    width: 300px;
    height: 300px;
    margin: 20px;

}
#img8{
    width: 300px;
    height: 300px;
    margin: 20px;

}
#img9{
    width: 300px;
    height: 300px;
    margin: 20px;

}